/vendor
/public/build/*
!/public/.htaccess
!/public/favicon.ico
!/public/index.php
!/public/robots.txt
*.DS_Store*
.env*
.vagrant/*
.vscode/*

/.idea
/nbproject
/.direnv



node_modules

*.log
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.yarn


# For local development with docker
# Remove if we ever put the Dockerfile in the repo
.dockerignore
docker-compose.*
!docker-compose.example.yml
!docker-compose.example.yaml

# for image related files
misc
.php-cs-fixer.cache
coverage.xml
resources/lang/locales.js
.phpunit.result.cache


result

**/caddy
frankenphp
frankenphp-worker.php

**/caddy
frankenphp
frankenphp-worker.php
rr
.rr.yaml
