APP_NAME=Dashboard
APP_ENV=production
APP_KEY=base64:ftcdC/NsgtukKTg/oB8JIOOc3DrL7Mpd4H0XVykh/no=
APP_DEBUG=false
APP_TIMEZONE=UTC
APP_URL=https://kushidash.astralaxis.one
COMPANY_NAME="Astral Cloud"
COMPANY_DESC="Powering your simple dreams into complex networks"
COMPANY_LOGO_URL="https://www.astralaxis.tech/bold.svg"

DISCORD_WEB_STATE=false
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1308759145242955808/svckRMvP0yeQ2QfxW2QihhToHEo3L0KgEsh3aYg_FlEzIAG45WIcVB587tiK7jfetaaM


APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4
ADMIN_API_KEY="testingapikey"
BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mariadb
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=kushi_dash
DB_USERNAME=maria
DB_PASSWORD=your_password_here

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_DB=0
REDIS_CACHE_DB=1

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

DISCORD_CLIENT_ID=1272588690748870757
DISCORD_CLIENT_SECRET=b8JDak3yNiRruWcTKqS7ssrzHfRWXBe8
DISCORD_REDIRECT_URI=https://kushidash.astralaxis.one/auth/discord/callback
DISCORD_SERVER_ID=1271393826732511313
DISCORD_BOT_TOKEN=MTI3MjU4ODY5MDc0ODg3MDc1Nw.G6Ws4p.Rt9l7XaAuF4jZFVURNBiv20bJY1s5PC60g-eZs

PTERODACTYL_API_URL=https://indi-panel.astralaxis.one
PTERODACTYL_API_KEY=ptla_OQeIgilE2tx7NKaZR82eiSEsst0kVhmswk1ReVIfXcx
# Use pluto one for now
# Load these at initial hit, Add to Kushi engine to process


INITIAL_CPU=75
INITIAL_MEMORY=1500
INITIAL_DISK=3024
INITIAL_SERVERS=1
INITIAL_DATABASES=0
INITIAL_BACKUPS=0
INITIAL_ALLOCATIONS=2

VITE_APP_NAME="${APP_NAME}"




LINKVERTISE_ID=1229986
LINKVERTISE_ENABLED=true
LINKVERTISE_COIN_REWARD=10
#@////////////////////////////////////////////////////////////////
#Please note that the following variables are for the Vite app and Overall Kushi Config
#Do not change them, This will cause the app to break
#Copyright 2024 Nadhi.dev
TEBEX_WEBHOOK_SECRET=166f8f17ae66d18db04be0074ee1b7f4



#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
# Shop Configuration
#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

# Resource Availability
PRICE_CPU_ENABLED=true
PRICE_MEMORY_ENABLED=true
PRICE_DISK_ENABLED=true
PRICE_DATABASE_ENABLED=false
PRICE_ALLOCATION_ENABLED=true
PRICE_BACKUP_ENABLED=true
PRICE_SERVER_SLOTS_ENABLED=true

# Resource Amounts and Costs
PRICE_CPU_AMOUNT=1000
PRICE_CPU_COST=1200

PRICE_MEMORY_AMOUNT=500
PRICE_MEMORY_COST=500

PRICE_DISK_AMOUNT=1024
PRICE_DISK_COST=300

PRICE_DATABASE_AMOUNT=1
PRICE_DATABASE_COST=175

PRICE_ALLOCATION_AMOUNT=1
PRICE_ALLOCATION_COST=150

PRICE_BACKUP_AMOUNT=1
PRICE_BACKUP_COST=250

PRICE_SERVER_SLOTS_AMOUNT=1
PRICE_SERVER_SLOTS_COST=2000

# Maximum Purchase Limits
# Maximum Purchase Limits
MAX_CPU_PURCHASE=1000000000000000000000000000000000000000000000
MAX_MEMORY_PURCHASE=4096000000000000000000000000000000000000000
MAX_DISK_PURCHASE=102400000000000000000000000000000000000000000
MAX_DATABASE_PURCHASE=500000000000000000000000000000000000000000
MAX_ALLOCATION_PURCHASE=100000000000000000000000000000000000000
MAX_BACKUP_PURCHASE=1000000000000000000000000000000000000000000
MAX_SERVER_SLOTS_PURCHASE=100000000000000000000000000000000000

DISCORD_WEBHOOK=https://discord.com/api/webhooks/1308759145242955808/svckRMvP0yeQ2QfxW2QihhToHEo3L0KgEsh3aYg_FlEzIAG45WIcVB587tiK7jfetaaM


#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@